<section class="container my-5" id="seccionCompra">
    <div class="col-lg-6" id="flexbox" *ngIf="productoSeleccionado === Producto.SpiderMan">
        <h5 class="card-title text-center">Spider-Man (2018)</h5>
        <img src="assets/img/Spider-man.png" class="d-block mx-auto" style="height: 10rem" alt="Marvel's Spider-Man">
        <p class="card-text">Precio: $10000.00</p>
        <form onsubmit="mostrarContenidoMedioPago();">
        <label for="medioPago">Selecciona tu medio de pago:</label>
        <select id="medioPago" class="form-select mb-3" required>
            <option value="efectivo">Efectivo</option>
            <option value="mercadoPago">Mercado Pago</option>
            <option value="tarjetaDebito">Tarjeta de Débito</option>
        </select>
        <button type="submit" class="btn btn-success">Realizar Operacion</button>
        </form>
    </div>
    <div class="col-lg-6" id="flexbox" *ngIf="productoSeleccionado === Producto.SuperMarioBros">
        <h5 class="card-title text-center">Super Mario Bros</h5>
        <img src="assets/img/Mario Bros.png" class="d-block mx-auto" style="height: 10rem" alt="Super Mario Bros">
        <p class="card-text">Precio: $20000.00</p>
        <form onsubmit="mostrarContenidoMedioPago();">
        <label for="medioPago">Selecciona tu medio de pago:</label>
        <select id="medioPago" class="form-select mb-3" required>
            <option value="efectivo">Efectivo</option>
            <option value="mercadoPago">Mercado Pago</option>
            <option value="tarjetaDebito">Tarjeta de Débito</option>
        </select>
        <button type="submit" class="btn btn-success">Realizar Operacion</button>
        </form>
    </div>
    <div class="col-lg-6" id="flexbox" *ngIf="productoSeleccionado === Producto.Sonic">
        <h5 class="card-title text-center">Sonic the Hedgehog</h5>
        <img src="assets/img/Sonic.png" class="d-block mx-auto" style="height: 10rem" alt="Sonic the Hedgehog">
        <p class="card-text">Precio: $5000.00</p>
        <form onsubmit="mostrarContenidoMedioPago();">
        <label for="medioPago">Selecciona tu medio de pago:</label>
        <select id="medioPago" class="form-select mb-3" required>
            <option value="efectivo">Efectivo</option>
            <option value="mercadoPago">Mercado Pago</option>
            <option value="tarjetaDebito">Tarjeta de Débito</option>
        </select>
        <button type="submit" class="btn btn-success">Realizar Operacion</button>
        </form>
    </div>
    <div class="col-lg-6" id="flexbox" *ngIf="productoSeleccionado === Producto.FiveNightsAtFreddys">
        <h5 class="card-title text-center">Five Nights at Freddy s</h5>
        <img src="assets/img/Five Nights at Freddys.png" class="d-block mx-auto" style="height: 10rem" alt="Five Nights at Freddy s">
        <p class="card-text">Precio: $15000.00</p>
        <form onsubmit="mostrarContenidoMedioPago();">
        <label for="medioPago">Selecciona tu medio de pago:</label>
        <select id="medioPago" class="form-select mb-3" required>
            <option value="efectivo">Efectivo</option>
            <option value="mercadoPago">Mercado Pago</option>
            <option value="tarjetaDebito">Tarjeta de Débito</option>
        </select>
        <button type="submit" class="btn btn-success">Realizar Operacion</button>
        </form>
    </div>
    <div class="col-lg-6" id="flexbox" *ngIf="productoSeleccionado === Producto.Zelda">
        <h5 class="card-title text-center">The Legend of Zelda: Breath of the Wild</h5>
        <img src="assets/img/The Legend of Zelda Breath of the Wild.png" class="d-block mx-auto" style="height: 10rem" alt="The Legend of Zelda: Breath of the Wild">
        <p class="card-text">Precio: $5000.00</p>
        <form onsubmit="mostrarContenidoMedioPago();">
        <label for="medioPago">Selecciona tu medio de pago:</label>
        <select id="medioPago" class="form-select mb-3" required>
            <option value="efectivo">Efectivo</option>
            <option value="mercadoPago">Mercado Pago</option>
            <option value="tarjetaDebito">Tarjeta de Débito</option>
        </select>
        <button type="submit" class="btn btn-success">Realizar Operacion</button>
        </form>
    </div>
    <div class="col-lg-6" id="flexbox" *ngIf="productoSeleccionado === Producto.TheLastOfUs">
        <h5 class="card-title text-center">The Last of Us</h5>
        <img src="assets/img/The Last of Us.png" class="d-block mx-auto" style="height: 10rem" alt="The Last of Us">
        <p class="card-text">Precio: $30000.00</p>
        <form onsubmit="mostrarContenidoMedioPago();">
        <label for="medioPago">Selecciona tu medio de pago:</label>
        <select id="medioPago" class="form-select mb-3" required>
            <option value="efectivo">Efectivo</option>
            <option value="mercadoPago">Mercado Pago</option>
            <option value="tarjetaDebito">Tarjeta de Débito</option>
        </select>
        <button type="submit" class="btn btn-success">Realizar Operacion</button>
        </form>
    </div>
</section>