<header class="container my-5" id="seccionInicio" *ngIf="mostrarContenido">
    <div class="videojuego-info">
        <h2 class="text-center">Spider-Man (2018)</h2>
        <img src="assets/img/Spider-man.png" class="d-block mx-auto" alt="Spider-Man (2018)">
        <p><strong>Descripción:</strong> Spider-Man (2018) es un videojuego de acción y aventuras que sumerge a los jugadores en el papel de Peter Parker, también conocido como Spider-Man. Ambientado en la ciudad de Nueva York, el juego ofrece una narrativa emocionante que sigue las aventuras de Spider-Man mientras enfrenta villanos icónicos y equilibra su vida personal con la responsabilidad de proteger la ciudad. </p>
        <p><strong>Fecha de Lanzamiento:</strong> 7 de septiembre de 2018</p>
    </div>

    <div class="videojuego-info">
        <h2 class="text-center">Super Mario Bros</h2>
        <img src="assets/img/Mario Bros.png" class="d-block mx-auto" alt="Super Mario Bros">
        <p><strong>Descripción:</strong> Super Mario Bros es un clásico juego de plataformas desarrollado por Nintendo. Presenta a Mario, el fontanero intrépido, en una misión para rescatar a la princesa Peach del malvado Bowser. El juego es conocido por su diseño de niveles ingenioso, personajes entrañables y su impacto duradero en la industria de los videojuegos.</p>
        <p><strong>Fecha de Lanzamiento:</strong> 13 de septiembre de 1985</p>
    </div>

    <div class="videojuego-info">
        <h2 class="text-center">Sonic the Hedgehog</h2>
        <img src="assets/img/Sonic.png" class="d-block mx-auto" alt="Sonic the Hedgehog">
        <p><strong>Descripción:</strong> Sonic the Hedgehog es un juego de plataformas y velocidad creado por Sega. Los jugadores asumen el papel de Sonic, un erizo azul sónico, en su lucha contra el malvado Dr. Robotnik. Con su énfasis en la velocidad y el diseño de niveles emocionante, Sonic se convirtió en un ícono de los videojuegos en la década de 1990.</p>
        <p><strong>Fecha de Lanzamiento:</strong> 23 de junio de 1991</p>
    </div>

    <div class="videojuego-info">
        <h2 class="text-center">Five Nights at Freddy s</h2>
        <img src="assets/img/Five Nights at Freddys.png" class="d-block mx-auto" alt="Five Nights at Freddy s">
        <p><strong>Descripción:</strong> Five Nights at Freddy s es un juego de terror independiente donde el jugador asume el papel de un guardia de seguridad en una pizzería embrujada. Deberás sobrevivir a los animatrónicos maliciosos durante cinco noches.</p>
        <p><strong>Fecha de Lanzamiento:</strong> 8 de agosto de 2014</p>
    </div>

    <div class="videojuego-info">
        <h2 class="text-center">The Legend of Zelda: Breath of the Wild</h2>
        <img src="assets/img/The Legend of Zelda Breath of the Wild.png" class="d-block mx-auto" alt="The Legend of Zelda: Breath of the Wild">
        <p><strong>Descripción:</strong> The Legend of Zelda: Breath of the Wild es un juego de acción y aventuras que lleva a los jugadores a explorar el vasto reino de Hyrule. Con un mundo abierto y una narrativa envolvente, es considerado uno de los mejores juegos de la serie.</p>
        <p><strong>Fecha de Lanzamiento:</strong> 3 de marzo de 2017</p>
    </div>

    <div class="videojuego-info">
        <h2 class="text-center">The Last of Us</h2>
        <img src="assets/img/The Last of Us.png" class="d-block mx-auto" alt="The Last of Us">
        <p><strong>Descripción:</strong> The Last of Us es un juego de acción y supervivencia que sigue la historia de Joel y Ellie mientras luchan por sobrevivir en un mundo postapocalíptico. Con una narrativa conmovedora y jugabilidad intensa, se ha ganado el reconocimiento como un clásico moderno.</p>
        <p><strong>Fecha de Lanzamiento:</strong> 14 de junio de 2013</p>
    </div>
</header>
