<section class="container my-5 col-md-6" id="seccionIniciarSesion">
    <h2>Iniciar Sesión</h2>
    <form onsubmit="return validarInicioSesion();">
        <div class="mb-3">
            <label for="usuarioLogin" class="form-label">Usuario*</label>
            <input type="text" class="form-control" id="usuarioLogin" required>
        </div>
        <div class="mb-3">
            <label for="contrasenaLogin" class="form-label">Contraseña*</label>
            <input type="password" class="form-control" id="contrasenaLogin" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <ul>
            <a class="btn-success" href="#" (click)="onCambiarSeccion(Seccion.RecuperacionCuenta)"><h4>¿Olvidaste tu contraseña?</h4></a>
            <a class="btn-success" href="#" (click)="onCambiarSeccion(Seccion.Registrarse)"><h4>¿No tienes cuenta creada?</h4></a>
        </ul>
    </form>
</section>
