<router-outlet></router-outlet>
<app-menu-desplegable (cambiarSeccion)="cambiarSeccion($event)"></app-menu-desplegable>
<app-inicio *ngIf="mostrarContenido(Seccion.Inicio)"></app-inicio>
<app-productos *ngIf="mostrarContenido(Seccion.Productos)"
  (cambiarCompraProducto)="cambiarCompraProducto(Seccion.Compra, $event.producto)">
</app-productos>
<app-iniciar-sesion
  *ngIf="mostrarContenido(Seccion.IniciarSesion)"
  (cambiarSeccion)="cambiarSeccion($event)"
></app-iniciar-sesion>
<app-registrarse *ngIf="mostrarContenido(Seccion.Registrarse)"></app-registrarse>
<app-contacto *ngIf="mostrarContenido(Seccion.Contacto)"></app-contacto>
<app-recuperacion-cuenta *ngIf="mostrarContenido(Seccion.RecuperacionCuenta)"></app-recuperacion-cuenta>
<app-compra *ngIf="mostrarContenido(Seccion.Compra)" [productoSeleccionado]="productoActual"></app-compra>
<app-footer></app-footer>

